@model GS.Employee.API.Models.Persona

@{
    ViewData["Title"] = "Editar";
}

<div class="offset-3 col-6">
    <h2>Editar Persona</h2>

    <div id="message" role="alert"></div>

    @using (Html.BeginForm())
    {
        <input type="hidden" id="id" value="@Model.Id" />
        <input type="hidden" id="deleteUrl" value="@Url.Action("Eliminar")" />
        <input type="hidden" id="listUrl" value="@Url.Action("Index", "Persona")" />

        <div class="mb-3">
            <label for="nombres" class="form-label">Nombres:</label>
            <input type="text" id="nombres" name="nombres" class="form-control" value="@Model.Nombres" required>
        </div>

        <div class="mb-3">
            <label for="apellidoPaterno" class="form-label">Apellido Paterno:</label>
            <input type="text" id="apellidoPaterno" name="apellidoPaterno" class="form-control" value="@Model.ApellidoPaterno" required>
        </div>

        <div class="mb-3">
            <label for="apellidoMaterno" class="form-label">Apellido Materno:</label>
            <input type="text" id="apellidoMaterno" name="apellidoMaterno" class="form-control" value="@Model.ApellidoMaterno" required>
        </div>

        <div class="mb-3">
            <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento:</label>
            <input type="date" id="fechaNacimiento" name="fechaNacimiento" class="form-control" value="@Model.FechaNacimiento.ToString("yyyy-MM-dd")" required>
        </div>

        <div class="mb-3">
            <label for="nivelEducativo" class="form-label">Nivel Educativo:</label>
            <input type="text" id="nivelEducativo" name="nivelEducativo" class="form-control" value="@Model.NivelEducativo" required>
        </div>

        <div class="mb-3">
            <label for="numeroCelular" class="form-label">Número de Celular:</label>
            <input type="tel" id="numeroCelular" name="numeroCelular" class="form-control" value="@Model.NumeroCelular" required>
        </div>

        <div class="mb-3">
            @if (Model.Estatus)
            {
                <input type="checkbox" class="form-check-input" id="estatus" name="estatus" checked="checked">
            }
            else
            {
                <input type="checkbox" class="form-check-input" id="estatus" name="estatus">
            }
            <label class="form-check-label" for="estatus">Estatus</label>
        </div>

        <div class="mb-3">
            <button type="button" id="btnDelete" class="btn btn-outline-danger">Eliminar</button>
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>

    }
    <div>
        <a href="@Url.Action("Index")" class="mb-3"> Regresar al inicio</a>
    </div>
</div>


@section Scripts {
    <script src="~/js/personas/persona-detalle.js" asp-append-version="true"></script>
}